<div class="about-container">
  <h1>О проекте</h1>
  <p>Данное приложение разработано в рамках Лабораторной работы №6.</p>
  
  <div class="info-card">
    <h3>Автор:</h3>
    <ul>
      <li><strong>Студент:</strong> Мусин Алиаскар</li>
    </ul>
  </div>

  <div class="tech-stack">
    <h3>Используемые технологии:</h3>
    <span class="badge">Angular</span>
    <span class="badge">TypeScript</span>
    <span class="badge">RxJS</span>
    <span class="badge">HttpClient</span>
  </div>

  <!-- <button routerLink="/home" class="back-btn">На главную</button> -->
</div>