<div class="product-card">
  <div class="product-image">
    <button class="btn-remove-overlay" (click)="onRemoveClick()" title="Удалить">×</button>
    
    <img [src]="product.image" alt="photo">
    <div class ="credit-banner">0 • 0 • 24</div>
    <div class ="bonus-banner">5% Б</div>
  </div>

  <div class="product-info">
    <h3 class="product-name">{{ product.name }}</h3>
    
    <div class="product-rating" [style.color] = "product.rating < 4.8 ? 'black' : 'black'">
      <span class="stars">
        <span *ngFor="let star of getStarsArray(product.rating)" class="star filled">★</span>
      </span>
      <span class="rating-value">{{ product.rating }}</span>
      <button class="btn-like-inline" (click)="increaseLikes()">❤️ {{product.likes}}</button>
    </div>
    
    <div class="price-section">
      <div class="price-col">
        <span class="label">Цена</span>
        <div class="main-price">{{ product.price | number:'1.0-0' }} ₸</div>
      </div>
      <div class="divider"></div>
      <div class="price-col">
        <span class="label">В рассрочку</span>
        <div class="installment-box">
          <span class="installment-sum">{{ (product.price / 24) | number:'1.0-0' }} ₸</span>
          <span class="x-month">x24</span>
        </div>
      </div>
    </div>
    
    <div class="product-actions">
      <a [href]="product.link" target="_blank" class="btn btn-primary">View on Kaspi.kz</a>
      <div class="share-buttons">
        <button (click)="shareOnWhatsApp()" class="btn btn-whatsapp">WhatsApp</button>
        <button (click)="shareOnTelegram()" class="btn btn-telegram">Telegram</button>
      </div>
    </div>
  </div>
</div>